*{
    margin: 0;
    padding: 0;
}

header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/panorama_cafe.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;     
}

.wrapper{
    width: 1170px;
    margin: auto;
    color: #fff;
    padding-top: 30px;
}

.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li{
    display: inline-block;
}

.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 14px;
}

.nav-area li a:hover{
    background: #fff;
    color: #333;
    border-radius: 30px;
}

.content{
    width: 60%;
    position: relative;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 80%;

}
.content .textBox h2{
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span{
     color: #fff;
     font-size: 1.2em;
     font-weight: 900;
}

.content .textBox .update{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #c58e05;
    /* color: #fff; */
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .textBox .delete{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: red;
    /* color: #fff; */
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

label{
    display: flex;
    align-items: center;
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 20px;
    border: 2px solid;
    border-radius: 20px;
}
label::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    border-radius: 50%;
    cursor: pointer;
    background: #000;
    transition: 0.4s;
}
label.active::before{
    left: 24px;
    background: #fff;

}
body.night{
    background: #000;
    color: #fff;
}



input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
input[type=file]{
    color: #fff;
}

input[type=file]:hover{
    color: #fff;
    cursor: pointer;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #45a049;
  }